/*Global Style*/
html {
	height: 100%;
}
body { 
	padding-top: 50px; 
	height: 100%;
}
.login-body {
	background: #eee;
}
.login-body .alert {
	position: absolute;
	width: 100%;
	padding: 5px 12px;
	left: 0;
	top: -45px;
}
.message.container {
	width: 100%;
}
.main.container {
	width: 100%;
	height: 100%;
}
.main.container .row {
	height: 100%;
}
.back-info {
	text-align: center;
}
.opt-info {
z-index: 2000;
position: fixed;
bottom: 60%;
right: 40%;
margin-bottom: 0;
font-size: 1em;
padding: 1em 1.3em;
border-radius: 1px;
background: #444;
color: #fff;
border-color: #111;
}

/*Header Style*/
.navbar {
	border-radius: 0;
	border: none;
	background: #212121;
}
.content>.header>p {
	margin: 15px 0;
	font-size: 13px;
	color: #888;
}
.content>.header>p>.father-menu {
	margin-right: 10px;
	font-size: 21px;
	font-weight: bold;
	color: #333;
	letter-spacing: 1px;
}
.breadcrumb a {
	color: #444;
}
.breadcrumb > li + li:before {
	content: none;
}
.breadcrumb .fa {
	margin: 0 5px;
}
.breadcrumb .fa-home {
	margin: 0 5px 0 0;
}
li.shortcut {
	display: none;
}
li.shortcut.active {
	display: inline;
}
a.shortcut-opt {
	text-decoration: none;
}

/*Slider Style*/
.nav-wrap {
	padding: 0;
}
.content-wrap {
	width: 86%;
	padding: 0 20px;
	margin-left: 14%;
}
.toggler-on .content-wrap {
	width: auto;
	margin-left: 40px;
}

#menu {
	height: 100%;
	border-radius: 0;
	border-right: 0;
	position: fixed;
	background: #3d3d3d;
	width: 14%;
}
.toggler-on #menu {
	width: 40px;
	z-index: 1;
}
#menu .tit {
	margin: 20px 0;
	padding: 0 10px;
	font-size: 18px;
	display: block;
	color: #f1f1f1;
}
#menu .tit:hover {
	color: #b7b7b7;
	text-decoration: none;
}
#menu>.nav {
	position:relative;
}
#menu .sidebar-toggler {
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin: 10px 0;
	width: 29px;
	height: 29px;
	background-repeat: no-repeat;
	background-color: #242424;
	background-image: url(../images/sidebar-toggler.jpg);
	position: relative;
	left: 80%;
}
#menu .sidebar-toggler:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.toggler-on #menu .sidebar-toggler {
	left:5px;
}
#menu .nav a {
	position: relative;
	width: 100%;
}
#menu .nav-li>a {
	border-top: 1px solid #5c5c5c;
}
#menu .nav-li>a>.selected {
	display: block;
	width: 8px;
	height: 25px;
	background-image: url("../images/sidebar-menu-arrow.png");
	float: right;
	position: absolute;
	right:0px;
	top:8px;
}
.toggler-on #menu .nav-li>a>.selected {
	display: block;
	
	width: 5px;
}
.toggler-on #menu .nav-li.hover>a>.selected {
	display: none!important;
}
#menu .nav-li.on>a {
	background:#303030;
}
#menu .nav-li.active>a,#menu .nav-li.active>a:hover {
	background: #4d90fe!important;
}
#menu .nav-li:first-child>a{
	border:none;
}
#menu .nav-li>a {
	color:#fff;
}
.toggler-on #menu .nav-li>a {
	padding: 10px 0;
	height: 40px;
}
.toggler-on #menu .nav-li.hover{
	width: 200px;
	height: 40px;
	position: relative;
}
.toggler-on #menu .nav-li.hover>a {
	background: #303030;
}
#menu .nav-li>a:hover {
	background: #303030;
}
.toggler-on #menu .nav-li span {
	display:none;
}
.toggler-on #menu .nav-li.hover span {
	display:inline;
	margin-left: 10px;
}
.toggler-on .nav-li .sub-menu {
	display:none;
}
.toggler-on .nav-li.hover .sub-menu {
	width: 159px;
	height: auto!important;
	margin-left: 41px;
	position: absolute;
	display:block;
	background: #3d3d3d;  
}
.sub-menu>li>a {
	color: #bbb;
	padding-left: 40px;
	margin-bottom: 1px;
}
.toggler-on .sub-menu>li>a {
	padding-left:15px;
}
.sub-menu>li>a:hover {
	color: #bbb;
}
#menu .nav-li>a>.fa:first-child {
	position: relative;
	margin-left:-5px;
	margin-right: 2px;
	width: 28px;
	text-align: center;
}
.toggler-on #menu .nav-li>a>.fa:first-child {
	margin:0;
	width: 40px;
}
#menu .nav-li>a .collapse {
	position: absolute;
	top: 12px;
	right: 18px;
}
#menu .nav a .collapse.fa-angle-down {
	right: 16px;
}
#menu .nav a .collapse.fa {
	display: none;
}
#menu .nav a .collapse.on.fa {
	display:block;
}
.toggler-on #menu .nav a .collapse.on.fa {
	display: none;
}
.home-wrap-inner {
	float: right;
	padding: 0;
	width: 88%;
}

/*Panel Style*/
.panel-list {
	margin: 20px 0px;
}
.panel-heading {
	font-weight: bold;
}
.panel-heading a {
	color: #666;
	float: right;
	margin-right: 5px;
	text-decoration: none;
}
.collapse-switch i {
	display: none;
}
.collapse-switch i.on {
	display:block;
}
.panel-list .panel-body {
	padding: 0;
	font-size: .9em;
}
.panel-list .panel-body .wrapper {
	padding: 10px 18px;
}
.panel-list .panel-body .wrapper label {
	font-weight:normal;
}
.panel-list .panel-body .wrapper [type='checkbox'] {
	position: relative;
	right: 6px;
	top: 3px;
}
.panel-body .pagination {
	margin: 15px;
	float: right;
}
.panel-body .pagination li {
	cursor:pointer;
}
.panel-body table {
	margin: 0;
	border-bottom: 1px solid #ddd;
}
.panel-body table thead th {
	border-bottom:1px solid #ddd;
	color: #666;
	padding: 12px 10px;
}

/*Search Style*/
.search-form {
	margin-top: 20px;
	padding: 0;
	width: 100%;
	font-size: .9em;
}
.search-form .button {
	margin-top: 27px;
}
.search-form .button button {
	padding: 4px 8px;
}
.search-form .form-group{
	width: 220PX;
	padding-right: 0;
	margin-bottom: 5px;
}
.search-form .form-control {
	font-size: .9em;
	height:30px;
	border-radius: 2px;
}
.search-form label {
	margin-bottom: 10px;
	font-weight: normal;
}

/*Form Style*/
.tab-pane form {
	width: 300px;
}
.tab-pane form label {
	font-weight: normal;
}
.tab-pane form .form-control {
	border-radius: 1px;	
	margin: 3px 0;
}
.form-group.inline label {
	display: block;
}
.form-group.inline .form-control{
	float: left;
	margin-right:1%;
} 
.form-group.inline .span1 {
	width:19%;
}
.form-group.inline .span1_5 {
	width:24%;
}
.form-group.inline .span2 {
	width: 29%;
}
.form-group.inline .span3 {
	width: 49%;
}
.form-group.inline .span4 {
	width: 59%;
}
.form-group.inline .span5 {
	width: 79%;
}
.tab-list form {
	width: 100%;
	font-size:.9em;
}
.tab-list form .form-control {
	width: 200px;
	border-radius: 1px;	
	font-size:.9em;
}
.tab-list table thead th {
	border-bottom:1px solid #ddd;
	color: #666;
	padding:10px;
}
.form-well {
	background: #fff;
	padding: 15px;
}
.form-well .nav {
	margin-bottom: 20px;
	padding-left: 10px;
}
.form-well .nav>li>a:hover {
	background: #eee;
}

/*Footer Style*/
footer {
	padding: 10px 0;
	font-size: 12px;
}

/*Index Style*/
a.shortcut {
	margin-right: 6px;
	padding: 4px 10px;
	font-size: 13px;
	text-decoration: none;
	color: #fff;
	float: left;
	display: block;
	background: #888;
}
a.shortcut:hover {
	background: #aaa;	
}
a.shortcut-opt {
	cursor: pointer;
}
.main table tr>td {
	padding: 10px;
}

/*Form Style*/
.form-wrapper {
	padding: 40px;
	padding-top: 25px;
	margin-top: 100px;
	margin-bottom: 100px;
	background: #fff;		
}
.form-header {
	padding-bottom: 10px;
	font-size: 20px;
	text-align: center;
	color: #888;
	letter-spacing: 2px;
}
.verify input {
	width: 65%;
}
.verify a {
	margin: 2px 10px;
	position: absolute;
	right: 40px;
	margin-top: -32px;
}

/*Modal Style*/
#actionModal,#submitModal {
	margin-top: 200px;
	overflow: hidden;
	z-index: 1100;
}
.modal-open {
	overflow: auto;
}

/*Replae Default CSS*/
.nav-stacked > li + li {
	margin-top: 0;
}
.nav-pills>li>a {
	border-radius: 0;
	color: #aaa;
}
.nav>li>a.on, .nav>li>a:hover, .nav>li>a:focus {
	background: #575757;
}
.form-control:focus {
	box-shadow:none;
	-webkit-box-shadow:none;
}